.normal{
    background-color: #F9EBED;
    color: #B03648;
    border:0.1em solid #B03648;
}
.pulsado{
    background-color: #B03648;
    color:#F9EBED
}

.check{
    width: 8em;
    height: 2em;
    border-radius: 3em;
    margin: 0.5em 0.6em;
    font-size: 0.8em;
    font-weight: 600;
}