.stars input[type="radio"] 
{
            display:none;
}
.star{
    cursor:pointer;
    transition: color 200ms;
    margin-bottom: 4em;
    
}
.stars{
    background-color: #B03648;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21.5625em;
}
.stars>h3{
    color: #F9EBED;
}

.formreview{
    display: flex;
    flex-direction: column;
    margin: -5em 1em;
}
.cabece{
    height: 10em;
}
.cabece>img{
    position: absolute;
    top:2em;
    left:2em;
}
.cabece>h2{
    color :#B03648;
    margin-top: 5em;
    margin-left: 2em;
}
.selects{
    
    display:flex;
    justify-content: space-evenly;

}
.selects>select{
    margin-bottom: 3em;
    width: 11em;
    height: 3em;
    border-radius: 3em;
}

.input{
    width: 25em;
    height: 3em;
    border-radius: 3em;
    margin-bottom: 3em;
}

.textarea{
    width: 25em;
    height: 15em;
    border-radius: 1em;
    margin-bottom: 3em;
}
.checkbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    justify-content: space-around;
    margin-bottom: 2em;
}

.checkbox>article>div{
    margin-bottom: 2em
}
.checkbox>article>label{
    margin-right: 1em;
}
input[type='submit']{
    margin: 1em 0 7em 0em;
    width: 15em;
    height: 5em;
    background-color: #F9EBED;
    border: 0.1em solid #B03648;
    border-radius: 0.5em;
    box-shadow: 0px 0px 6px 3px  #F9EBED;
    color: #B03648;
    font-weight: bold;
    font-size: 1em;
}
.btnEnv{
    margin-top: -1em;
    display: flex;
    justify-content: center;
    width: 21.5625em;
    background-color: #B03648;
}
