.stars input[type="radio"] 
{
            display:none;
}
.star{
    cursor:pointer;
    transition: color 200ms;
}

.formreview{
    display: flex;
    flex-direction: column;
    margin: -5em 1em;
}
.cabece{
    height: 10em;
}
.cabece>img{
    position: absolute;
    
    top:2em;
    left:2em;
}
.cabece>h2{
    color :#B03648;
    margin-top: 5em;
    margin-left: 2em;
}
.selects{
    
    display:flex;
    justify-content: space-evenly;

}
.selects>select{
    margin-bottom: 3em;
    width: 11em;
    height: 3em;
    border-radius: 3em;
}

.input{
    width: 25em;
    height: 3em;
    border-radius: 3em;
    margin-bottom: 3em;
}

.textarea{
    width: 25em;
    height: 15em;
    border-radius: 1em;
    margin-bottom: 3em;
}
.checkbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.checkbox>div{
    margin-right: 15em;
    margin-bottom: 1em;
}
.checkbox>label{
    
}

