
.lista{
    background-color: #B03648;
    margin:0px 16px 62px 16px ;
    display: flex;
    justify-content: center;
    padding: 0px;
    flex-flow: row wrap;
    border-radius: 8px 8px 8px 8px;
}
.lista>li{
    color:#F9EBED;
    display: flex;
    flex-direction: row;
    width: 130px;
    margin-left: 22px;
    font-family: sans-serif;
    padding: 0%;
    font-size: 14px;
    margin:0.75em 0.75em;
    
}
.lista>li>img{
    width: 0.75em;
    height: 0.75em;
    margin: 0px;
    margin-right: 0.75em;
    
}

.parrafo{
    width: 6.25em;
    margin: 1em 0em -0.75em 1em  ;
    padding: 0.5em 0.5em 1em 0.5em;
    color: #F9EBED;
    background-color:#B03648;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}